<h3>Please give your list a name.</h1>

<%= form_for @list do |f| %>
    <%= f.text_area :title, rows: 1, cols: 30, placeholder: "Name your list.." %>
    <%= f.submit "Create", class: 'btn btn-success'%>
<% end %>
