<tr id="item-<%= item.id %>">
  <td>
    <%= item.name %>
  </td>
  <td>
    <%= time_ago_in_words(item.created_at) %> ago
  </td>
  <td>
    <%= link_to "", [@list, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok'%>
  </td>
</tr>